<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
        获取外部存储权限
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/title"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.common.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.common.RecipeDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.classify.ClassifyDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.classify.HealthDietDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.nutritionQuery.FoodNutritionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.mime.activity.MimeCollectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.mime.activity.MimeMakeRecipeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.mime.activity.MimeMyRecipesActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.mime.activity.MimeLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.homepage.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.mime.activity.MimeSelectTagsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.mime.activity.MimeConcernedAndFansActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.mime.activity.RecipeNutritionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.mime.activity.MimeInformationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.mime.activity.MimeHealthDataSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.example.mime.activity.MimeHealthDataContentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.homepage.AllJiaChangCaiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.mime.activity.UserAddNutritionActivity"
            android:theme="@style/AppTheme.NoActionBar" />


    </application>

</manifest>